div.about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
img.img-ast{
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 40%;

}
div.astro-container{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    width: 40%;
    animation: fadeIn 3s;


}
div.para-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-top: 2%;
    margin-left: 5%;
    animation: fadeInRight 2s;
}
p.para{
    width: 50%;

}
img.links{
    width: 3%;
    padding-right: 2px;
    margin-left: 5px;

}
h1.about-me
{
    margin: 0;
    color: #3949AB;
}
@media (max-width: 768px) {
    div.about-me {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }
    p.para{
        width: 100%;
    }
    div.link-container img{
        width: 20%;
        margin: 10%;

    }

}