img.rocket{
    width: 75%;
}
div.home {
    display: flex;
    flex-direction: row;
}
div.home-right
{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
div.fade-in-right
{
    animation: fadeInRight 1s ease-in-out;

}
div.fade-in-left{
    animation: fadeInLeft 1s ease-in-out;
}
div.rocket-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    animation: fadeIn 2s;

}
h3.desc
{
    color:#FFA200;
    margin-left: 10%;
}
h1.name{
    margin: 0;
    color: #3949AB;
}
@media (max-width: 768px) {
    div.home{
        flex-direction: column;

    }

    div.rocket-img {
        width: 100%;
    }
    div.home-right
    {
        margin-left: 5%;
        margin-top: 5%;
        width: 100%;
    }
}